<h1><%= @place.name %></h1>

<p>
  <a href="/places">Back to all places</a>
</p>

<h2>Entries</h2>

<p>
  <a href="/entries/new?place_id=<%= @place.id %>">New Entry</a>
</p>

<ul>
  <% Entry.where({ "place_id" => @place.id }).each do |entry| %>
    <li>
      <strong><%= entry.title %></strong> - <%= entry.occurred_on %>
      <p><%= entry.description %></p>
    </li>
  <% end %>
</ul>
